.informationSection {
  padding-top: 64px;
  padding-inline: 24px;
  background-image: url('/images/bg-pattern.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include max-w('desktop');
  @include media('desktop') {
    padding-top: 96px;
  }

  .title {
    font-weight: 300;
    color: $neutral-white;
    font-size: 28px;
    line-height: 48px;
    text-align: center;

    @include media('desktop') {
      font-size: 48px;
      line-height: 88px;
    }

    .titleYellow {
      color: #ffcf71;
      font-weight: 500;
    }

    .titleBlue {
      color: #10e2ff;
      font-weight: 500;
    }
  }
}

.moreInformationText {
  @include media('desktop') {
    width: 600px;
    font-size: 16px;
    line-height: 28px;
  }
  padding-top: 16px;
  margin: auto;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $neutral-light-grey;
}

.imageContainer {
  position: relative;
  margin: auto;
  .tryForIt {
    width: 100%;
    margin-top: 48px;

    @include media('desktop') {
      margin-top: 80px;
    }
  }
}
