@use 'shared/styles/variables.module' as variables;
@use 'shared/styles/mixins.module' as *;

$desktop: 1440px;

.header {
  background-color: variables.$neutral-dark;
  border-bottom: 1.5px solid #121b32;
  display: flex;
  align-items: center;
  padding: 64px 24px 24px;

  @include media('desktop') {
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.logo {
  margin-inline-start: auto;
  @include media('desktop') {
    margin: 0;
  }
}

.list {
  @include media('desktop') {
    display: flex;
    align-items: center;
    gap: 32px;

    > li {
      color: variables.$neutral-white;
    }
    > li:first-child {
      list-style: none;
    }
  }

  display: none;
}

.authContainer {
  @include media('desktop') {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  display: none;
}

.menu {
  margin-right: auto;
  @include media('desktop') {
    display: none;
  }
}
