:export {
    primaryMain: $primary-main;
    primaryDark: $primary-dark;
  
    secondaryMain: $secondary-main;
    secondaryDark: $secondary-dark;
  
    successMain: $success-main;
  
    warningMain: $warning-main;
  
    errorMain: $error-main;
  
    neutralMain: $neutral-main;
    neutralDark: $neutral-dark;
    neutralWhite: $neutral-white;
    neutralLightExtraBlue: $neutral-light-extra-blue;
    neutralLightBlue: $neutral-light-blue;
    neutralLightenDark: $neutral-lighten-dark;
    neutralLightGrey: $neutral-light-grey;
    neutralDarkGrey: $neutral-dark-grey;
  }