$primary-dark: #9cf449;
$primary-main: #bcf449;

$secondary-dark: #001a70;
$secondary-main: #1089ff;

$success-main: #259b68;

$warning-main: #ff800b;

$error-main: #d63838;

$neutral-white: #ffffff;
$neutral-light-extra-blue: #f8fafd;
$neutral-main: #e7eef9;
$neutral-light-blue: #e7eef9;
$neutral-dark: #121B32;
$neutral-lighten-dark: #1e2845;
$neutral-light-grey: #989fb7;
$neutral-dark-grey: #545f7e;


