.header {
  display: flex;
  align-items: center;
  padding: 64px 24px 24px;
  background-color: #0b1226;
  border-bottom: 1.5px solid #121b32;
}

.logo {
  margin-inline-start: auto;
}

.container {
  padding: 40px 24px 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  > li {
    color: $neutral-white;
    list-style-position: inside;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

    &::marker {
      margin: 0;
      color: rgba(255, 255, 255, 0.16);
    }
  }
  
  > li:first-child {
    list-style: none;
  }

  > li > :first-child {
    padding-right: 0px;
  }
}

.close__menu {
  margin-right: auto;
}
